html, body{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

#camera, #camera--view, #camera--sensor, #camera--output{
    position: fixed;
    height: 100%;
    width: 100%;
    object-fit: cover;
}
#camera--view, #camera--sensor, #camera--output{
    transform: scaleX(-1);
    filter: FlioH;
}

.taken{
    height: 100px!important;
    width: 100px!important;
    transition: all 0.5s ease-in;
    border: solid 3px white;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2) ;
    top: 20px;
    right: 20px;
    z-index: 2;
}

.bt-container { 
    text-align: center; 
    padding: 65% 0% 0% 0%;

  }
 
 #camera--trigger, #camera--verso, #voltar {
   border: 0;
   width: 60px;
   height: 60px;
   display: inline-block;
   margin: 10px;
   cursor: pointer;
   border-radius: 30px;
   background-color: rgb(255, 255, 255);
   box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2);
   vertical-align: middle;
   position: relative;
 }

